{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstap-grid.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstap-grid.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstap-reboot.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstap-reboot.min.css'%}">
</head>
<body>
    <center>
        <h1>
            This Program Belongs to Bootsrap 4.6 Download
        </h1>
    </center>
    <script src="{% static 'js/bootstap.js' %}"></script>
    <script src="{% static 'js/bootstap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstap.min.js' %}"></script>
</body>
</html>